<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>پیشنهاد</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        td{
            text-align: right;
        }
        </style>
</head>

    <body>
        <div class="container">
            <div class="row justify-content-between pt-2">
                <img src="logo2.jpg" width="200" alt=""> 
                    <div class="row mt-5 text-center" >
                        <div class="mx-5">
                            <p>د افغانستان اسلامی جمهوری دولت</p>
                            <p>د مخابراتو او معلوماتی تکنالوژی وزارت</p>
                        </div>
                        <div class="mx-5">
                            <p>وزارت مخابرات و تکنالوژی معلوماتی</p>
                            <p>دولت جمهوری اسلامی افغانستان</p>
                        </div>
            
                    </div>
                <img src="logo1.jpg" width="200" alt="">
            </div>
            <div class="col justify-content-between text-center">
                <h5>ریاست مخابرات و تکنالوژی معلوماتی ولایت هرات</h5>
                <h5>مدیریت عمومی اداری</h5>
            </div>
            <div class="container row justify-content-between">
                <p> 1399/__/__تاریخ</p>
                <p> ..........................شماره</p>
            </div>
        
            <hr>
    <table style="width:100%">
        <tr>
            <th style="width:30%; text-align: center;">احکام</th>
            <th style="width:70%; text-align: center;">پیشنهاد</th> 
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <h4>به مقام محترم وزارت مخابرات و تکنالوژی معلوماتی!</h4>
                <h4> قابل توجه ریاست محترم منابع  بشری!</h4>
                <br>
                <h4><u>موضوع: مطالبه بودجه حفظ و مراقبت برای سال مالی 1400.</u></h4>
                <p>!احتراماً مینگاریم</p>
                <p>طورریکه قبلاً طوریکه قبلاً ذریحه مکتوب شماره 68 بر 33 مورخ 24/10/1397 به شما اطلاع داده شده بود اینک برای ترمیمات حفظ و مراقبت از تعمیر اداری تخنیکی بلاک های رهایشی و پسته خانه  شهری این ریاست قرار ذیل:</p>
                    <ol class="">
                        <li>ترمیم راه پله و کتاره آن، چای خانه حدود مبلغ  385000 افغانی</li>
                        <li>ترمیم ضحن محوطه ریاست از موزایک پیش ساخته رنگی حدود مبلغ 1200000 افغانی</li>
                        <li>بلند بردن دیوار حیاط و تبدیل نمودن دروازه حدود مبلغ 1200000 افغانی</li>
                        <li>ترمیم سالون کنفرانس ونصب چوکی آنها حدود مبلغ 600000 افغانی</li>
                        <li>موزایک محوطه بلاکهای رهایش و حفر یک حلقه چاه عمیق جدود مبلغ 900000 افغانی</li>
                        <li>ترمیم تراش کاری دیواری بیرونی تعمیر  سابقه و سقف آن حدود مبلغ 1500000 افغانی</li>
                        <li>تخریب خانه های قدیم محوطه ریاست و هموار کاری صحن و موزایک آن حدود مبلغ 1000000 افغانی</li>
                        <li>اعمار سیستم تصفیه فاضلاب از طریق ریاست محترم آبرسانی شهری زون غرب مبلغ 23000000 افغانی</li>
                    </ol>
                <p>که جمعاً حدود مبللغ 9085000 افغانی میگردد خدمت مقام محترم پیشنهاد میگردد تا به حساب بودجه حفظ و مراقبت برای این ریاست هر آنچه لازم میدانند اجراآت خواهند فرمود.
                </p>
                <p style="text-align: center;">با احترام 
                <br>
                <br>
                پوهنمل عاشق الله علیزی 
                <br>
                رئیس مخابرات و تکنالوژی معلوماتی
                </p>
            </td>
        </tr>
    </table>
            <hr>
                <div class="container row justify-content-between">
                    <p>Tel: 040-2220003</p>
                    <link><a href="https:/www.mcit.gov.af">website: www.mcit.gov.af</a></link>
                    <address>آدرس: جاده مخابرات، هرات افغانستان</address>
                </div>
        </div>
    </body>
</html>