{% load static %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
<!-- Top Bar Start -->
<div class="topbar">

    <div class="topbar-left	d-none d-lg-block">
        <div class="text-center">
            <a href="#" class="logo"><h3 style="color: #fff; font-style: italic;"> T&IT </h3></a>
        </div>
    </div>

    <nav class="navbar-custom">
        <ul class="list-inline menu-left mb-0">
            <li class="list-inline-item">
                <button type="button" class="button-menu-mobile open-left waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
        </ul>

    </nav>

</div>
<!-- Top Bar End -->